<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<true/>
	<key>autolink</key>
	<true/>
	<key>checkbox</key>
	<false/>
	<key>customCSS</key>
	<string></string>
	<key>customCSS-override</key>
	<false/>
	<key>debug</key>
	<false/>
	<key>emoji</key>
	<true/>
	<key>emoji_image</key>
	<false/>
	<key>footnote</key>
	<true/>
	<key>guess-engine</key>
	<integer>0</integer>
	<key>hardbreak</key>
	<false/>
	<key>heads</key>
	<true/>
	<key>highlight</key>
	<false/>
	<key>inline-link</key>
	<false/>
	<key>inlineimage</key>
	<true/>
	<key>math</key>
	<true/>
	<key>mention</key>
	<false/>
	<key>nosoftbreak</key>
	<false/>
	<key>ql-window-height</key>
	<integer>0</integer>
	<key>ql-window-width</key>
	<integer>0</integer>
	<key>render-as-code</key>
	<false/>
	<key>smartquote</key>
	<true/>
	<key>strikethrough</key>
	<true/>
	<key>strikethrough_doubletilde</key>
	<false/>
	<key>sub</key>
	<false/>
	<key>sup</key>
	<false/>
	<key>syntax</key>
	<true/>
	<key>syntax_font_name</key>
	<string></string>
	<key>syntax_font_size</key>
	<real>10</real>
	<key>syntax_line_numbers</key>
	<false/>
	<key>syntax_tabs</key>
	<integer>4</integer>
	<key>syntax_word_wrap</key>
	<integer>0</integer>
	<key>table</key>
	<true/>
	<key>tagfilter</key>
	<true/>
	<key>tasklist</key>
	<true/>
	<key>unsafeHTML</key>
	<false/>
	<key>validateUTF</key>
	<false/>
	<key>yaml</key>
	<true/>
	<key>yaml_all</key>
	<true/>
</dict>
</plist>
